<div class="results">
  <div class="results-content">
    <label class="label">Amount:</label>
    <div class="results-field"><%= @amount %></div>
  </div>

  <div class="results-content">
    <label class="label">Date:</label>
    <div class="results-field"><%= @date %></div>
  </div>

  <div class="results-content">
    <label class="label">Base Currency:</label>
    <div class="results-field"><%= @base_currency %></div>
  </div>

  <div class="results-content">
    <label class="label">Counter Currency:</label>
    <div class="results-field"><%= @counter_currency %> at <%= @counter_rate %></div>
  </div>

  <div class="results-content">
    <label class="label">Result:</label>
    <div class="results-field"><%= @result %></div>
  </div>

  <div class="results-content">
    <div class="results-field">
      <a href="/" class="btn">Convert another</a>
    </div>
  </div>
</div>